/* Asset from https://codepen.io/mandelid/pen/vwKoe */

.LoadingSpinner {
  animation: spin 1s ease-in-out infinite;
  border: 3px solid var(--white);
  border-radius: 50%;
  border-top-color: var(--orange);
  display: inline-block;
  height: 20px;
  width: 20px;
}

@keyframes spin {
  to { 
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to { 
    transform: rotate(360deg);
  }
}
