/* Project variables */

:root {
  /* Colors */
  --white: #FFFFFF;
  --orange: #F05A22;
  --orangeHover: #FF6F1B;
  --red: #FF0000;

  /* Margins/Paddings */
  --regular: 15px;
  --semiRegular: 20px;

  /* Font */
  --fs-regular: 1.4rem;
  --fs-medium: 1.6rem;
  --fs-medium-rare: 2rem;
  --fs-large: 2.4rem;
  --fs-x-large: 3.2rem;
  --fw-bold: 600;
}