@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

html {
  font-size: 10px;
}

body {
  -webkit-font-smoothing: antialiased;
  background: linear-gradient(264deg, rgba(238,238,241,1) 0%, rgba(255,255,255,1) 100%);
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2rem;
  margin-top: 0
}

p {
  font-size: 1.4rem;
  line-height: 24px;
}

a {
  font-size: 1.4rem
}

.LoaderWrapper {
  margin: 20px;
}