.Box {
  background: var(--orange);
  box-sizing: border-box;
  margin-bottom: var(--regular);
  padding: var(--regular);
  width: auto;
  
  &__title,
  &__body {
    color: var(--white);
    text-transform: capitalize;
    word-break: break-all;
  }
  
  &__read-more,
  &__back {
    color: var(--white);
    text-decoration: none;
    font-weight: var(--fw-bold);
    
    &:hover {
      text-decoration: underline;
    }
  }
}