@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
/* Project variables */
/* Project variables */
:root {
  /* Colors */
  --white: #FFFFFF;
  --orange: #F05A22;
  --orangeHover: #FF6F1B;
  --red: #FF0000;

  /* Margins/Paddings */
  --regular: 15px;
  --semiRegular: 20px;

  /* Font */
  --fs-regular: 1.4rem;
  --fs-medium: 1.6rem;
  --fs-medium-rare: 2rem;
  --fs-large: 2.4rem;
  --fs-x-large: 3.2rem;
  --fw-bold: 600;
}
/* Component styles */
/* Asset from https://codepen.io/mandelid/pen/vwKoe */
.LoadingSpinner {
  -webkit-animation: spin 1s ease-in-out infinite;
     -moz-animation: spin 1s ease-in-out infinite;
       -o-animation: spin 1s ease-in-out infinite;
          animation: spin 1s ease-in-out infinite;
  border: 3px solid var(--white);
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  border-top-color: var(--orange);
  display: inline-block;
  height: 20px;
  width: 20px;
}
@-moz-keyframes spin {
  to { 
    -moz-transform: rotate(360deg); 
         transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  to { 
    -o-transform: rotate(360deg); 
       transform: rotate(360deg);
  }
}
@keyframes spin {
  to { 
    -webkit-transform: rotate(360deg); 
       -moz-transform: rotate(360deg); 
         -o-transform: rotate(360deg); 
            transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to { 
    -webkit-transform: rotate(360deg); 
            transform: rotate(360deg);
  }
}
.Box {
  background: var(--orange);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: var(--regular);
  padding: var(--regular);
  width: auto;
}
.Box__title,
  .Box__body {
    color: var(--white);
    text-transform: capitalize;
    word-break: break-all;
  }
.Box__read-more,
  .Box__back {
    color: var(--white);
    text-decoration: none;
    font-weight: var(--fw-bold);
  }
.Box__read-more:hover, .Box__back:hover {
      text-decoration: underline;
    }
.Header {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(rgba(238,238,241,1)), to(rgb(240 90 34)));
  background: -webkit-linear-gradient(left, rgba(238,238,241,1) 0%, rgb(240 90 34) 100%);
  background: -moz-linear-gradient(left, rgba(238,238,241,1) 0%, rgb(240 90 34) 100%);
  background: -o-linear-gradient(left, rgba(238,238,241,1) 0%, rgb(240 90 34) 100%);
  background: linear-gradient(90deg, rgba(238,238,241,1) 0%, rgb(240 90 34) 100%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.Header__logo {
    max-width: 150px;
    width: 100%;
  }
@media (min-width: 600px) {
.Header__logo {
      max-width: none
  }
    }
.Navigation__item {
    color: var(--white);
    font-size: var(--fs-medium);
    text-decoration: none;
  }
@media (min-width: 600px) {
.Navigation__item {
      font-size: 2.4rem
  }
    }
/* Views styles */
html {
  font-size: 10px;
}
body {
  -webkit-font-smoothing: antialiased;
  background: -webkit-linear-gradient(186deg, rgba(238,238,241,1) 0%, rgba(255,255,255,1) 100%);
  background: -moz-linear-gradient(186deg, rgba(238,238,241,1) 0%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(186deg, rgba(238,238,241,1) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(264deg, rgba(238,238,241,1) 0%, rgba(255,255,255,1) 100%);
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
h2 {
  font-size: var(--fs-x-large);
  padding: 0 var(--regular);
}
@media (min-width: 600px) {
h2 {
    padding: 0
}
  }
h3 {
  font-size: var(--fs-medium-rare);
  margin-top: 0
}
p {
  font-size: var(--fs-regular);
  line-height: 24px;
}
a {
  font-size: var(--fs-regular)
}
.LoaderWrapper {
  margin: var(--semiRegular);
}
.ListPageMain {
  margin: 0 auto;
  max-width: 600px;
}
.ListPageData__error {
    color: var(--red);
    font-size: var(--fs-regular);
    margin-top: var(--regular)
  }
.DetailsPageWrapper {
  margin: 0 auto;
  max-width: 600px;
}
.DetailsPage {
  position: relative;
}
.NewRecordPage {
  margin: 0 auto;
  max-width: 600px;
}
.NewRecordPage .Box + .NewRecordForm__button {
    margin: 0 auto;
  }
@media (min-width: 600px) {
    .NewRecordPage .Box + .NewRecordForm__button {
      margin: 0;
    }
  }
.NewRecordForm {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
}
.NewRecordForm > div {
    margin-bottom: 15px;
  }
.NewRecordForm__label {
    font-size: var(--fs-medium);
  }
.NewRecordForm__input {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    height: 40px;
    font-size: var(--fs-medium);
    padding: 20px;
    margin-top: 10px;
    width: 100%;
  }
.NewRecordForm__text {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    height: 400px;
    font-size: var(--fs-medium);
    line-height: 28px;
    margin-top: 10px;
    padding: 20px;
    width: 100%;
  }
.NewRecordForm__button {
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: var(--orange);
    border: none;
    cursor: pointer;
    color: var(--white);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    gap: 15px;
    font-size: var(--fs-medium);
    font-weight: var(--fw-bold);
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
  }
.NewRecordForm__button:hover {
      background: var(--orangeHover);
    }
.NewRecordForm__error {
    color: var(--red);
    font-size: var(--fs-regular);
    margin-top: var(--regular)
  }
@media (min-width: 600px) {
.NewRecordForm {
    padding: 0
}
  }
.NotFound {
  text-align: center;
}
