.ListPageDataWrapper {
  padding: 20px;
}
  
  .ListPageDataWrapper p {
    position: relative;
  }

.ListPageBox {
  background: grey;
  max-width: 550px;
  padding-bottom: 15px;
  width: 100%;
}

.ListPageBox__title {
    position: relative;
  }

.DetailsPage {
  position: relative;
}

.NewRecordForm {
  position: relative;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background: red;
}
